{% extends 'base.html' %}

{% block title %}
  <title>TODO list</title>
{% endblock %}

{% block content %}
  <h3>
    TODO list
    <a style="float: right" href="{% url 'todo:task-create' %}" class="btn btn-primary">Add Task</a>
  </h3>
  <ul>
    {% if tasks %}
      {% for task in tasks %}
        <hr>
        <p class="text-muted">
          <strong>{{ task.content }}</strong>
          {% if task.status %}
            <strong style="color: green">Done</strong>
            <a style="float: right" href="{% url 'todo:task-complete' pk=task.id %}" class="btn btn-secondary">Undo</a>
          {% else %}
            <strong style="color: red">Not done</strong>
            <a style="float: right" href="{% url 'todo:task-undo' pk=task.id %}" class="btn btn-success">Complete</a>
          {% endif %}
        </p>
        <p>Created: {{ task.created_at }}</p>
        <p>
          Tags:
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}
          <a href="{% url 'todo:task-update' pk=task.id %}">Update</a>
          <a href="{% url 'todo:task-delete' pk=task.id %}">Delete</a>
        </p>
      {% endfor %}
    {% else %}
      <p>There are no tasks...</p>
    {% endif %}
  </ul>
{% endblock %}
