{% extends 'base.html' %}

{% block title %}
  <title>TODO list</title>
{% endblock %}

{% block content %}
  <h3>
    TODO list
    <a style="float: right" href="{% url 'todo:task-create' %}" class="btn btn-primary">Add Task</a>
  </h3>
  <ul>
    {% if tasks %}
      {% for task in tasks %}
        <hr>
        <p class="text-muted"><strong>{{ task.content }}</strong> Done</p>
        <p>Created: {{ task.created_at }}</p>
        <p>
          Tags:
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}
          <a href="{% url 'todo:task-update' pk=task.id %}">Update</a>
        </p>
      {% endfor %}
    {% else %}
      <p>There are no tasks...</p>
    {% endif %}
  </ul>
{% endblock %}
